@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets"
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"
@import "../../node_modules/font-awesome/scss/font-awesome"
@import "../../node_modules/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox"

@import "components/resume"

[hidden]
  display: none

.line
  fill: none
  stroke: steelblue
  stroke-width: 2px
