<div class="col-sm-6 col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">{{ data.name }}</div>
        <div class="panel-body resume__container">
            <div class="resume__placeholder"></div>
            <div class="resume__status"
                 [ngClass]="{
                 'text-danger': isReturnNegative(),
                 'text-success': isReturnPositive()
                 }"
            >{{ data.investmentReturnSinceStartPercentage | number:'.2-2' }}%</div>
            <div>Initial: {{ data.initialContribution }}</div>
            <div>Current: {{ data.marketValue }}</div>
            <div>Last updated: {{ parseDate(data.lastUpdated) | date:"dd/MM/yy" }}</div>
        </div>
    </div>
</div>