<div class="container-fluid">
    <h3>test</h3>

    <div *ngFor="let account of data.accounts;" >
        <!--<div *ngFor="let portfolio of objKeys(account)">-->
        <div *ngFor="let portfolio of account.portfolios">
            <portfolio [data]="portfolio"></portfolio>
        </div>
    </div>
    <!--<br/><pre> {{ data | json }}</pre>-->
</div>


